<p id="notice"><%= notice %></p>

<ul class="plans__list">
  <% @plans.each do |plan| %>
    <li class="plan-item">
      <%= link_to plan, :class => 'plan-item__link' do %>
        <h2 class="plan-item__title"><%= plan.title %></h2>
        <p>
          <%= plan.body_text %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Plan', new_plan_path %>
