<p id="notice"><%= notice %></p>

<h2 class="plan-show__title"><%= @plan.title %></h2>
<h3>By <%= link_to "#{@plan.user.first_name} #{@plan.user.last_name}", user_path(@plan.user) %></h3>

<p><%= @plan.body_text %></p>

<p>
  <strong>Time (in hours):</strong>
  <%= @plan.time %>
</p>

<%if @plan.plan_steps.count > 0 %>
  <% @plan.plan_steps.each do |step| %>
    <%= step.title %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
