<!DOCTYPE html>
<html>
  <head>
    <title>PetApp</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,500,700,900" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <section id="content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </section>
    <!-- Logged In: <%= logged_in? %>
    <%= debug(params) if Rails.env.development? %> -->
    <footer>
    </footer>
  </body>
</html>
